html {min-width:1000px; height:100%}

body {min-width:1000px; height:100%; margin:0; padding:0; font:14px/20px tahoma, geneva, sans-serif; color:#231f20; background:#fff}

a {color:#5a91c8; outline:none}
a:hover {text-decoration:none}

img {border:none}

.wrapper {min-width:1000px; width:100%; position:relative; min-height:100%; overflow:hidden}
.wrapper-inner {padding:0 0 316px 0}

header {display:block; height:196px; background:url(../images/header.png)}

nav {display:block; width:980px; margin:0 auto; height:72px; white-space:nowrap}
nav ul {display:table; width:100%; margin:0; padding:0; list-style:none}
nav ul li {display:table-cell; margin:0; padding:0; height:72px; border-left:1px solid #dbdbdb; text-align:center; vertical-align:middle}
nav ul li:first-child {border-left:none}
nav ul li a {display:inline-block; position:relative; color:#000; text-decoration:none; padding:3px 19px; height:32px; line-height:30px}
nav ul li a:hover {text-decoration:underline}
nav ul li.active a {padding:0 16px; background:url(../images/nav.png); color:#fff; font-weight:bold; border:3px solid #e6e6e6; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}

.header-inner {width:940px; margin:0 auto; overflow:hidden}
.header-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.logo {float:left; line-height:0; padding:40px 0 0 0}

.search {float:right; padding:42px 0 0 0}
.search form {display:block; margin:0; padding:0; background:#fff; position:relative; width:301px; height:32px; background:#fff; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.search-input {position:absolute; left:0; top:0}
.search-input span {display:none; position:absolute; left:12px; top:6px; white-space:nowrap; color:#7d7d7d}
.search-input input {position:relative; vertical-align:top; width:240px; height:20px; padding:6px 12px; margin:0; outline:none; border:none; background:url(../images/blank.gif); color:#231f20; font:14px/20px tahoma, geneva, sans-serif}
.search-submit {position:absolute; right:11px; top:9px}
.search-submit input {vertical-align:top; width:14px; height:14px; border:none; background:url(../images/search.png); margin:0; padding:0; outline:none; cursor:pointer}

.slider {position:relative; height:528px; background:url(../images/slider-bg.png) no-repeat center top; margin-top:-47px}
.slider-container {position:relative; width:940px; margin:0 auto; height:528px}
.slider-content {width:100%; position:relative; overflow:hidden; height:528px}
.slider-content ul {position:relative; margin:0; padding:0; list-style:none; width:9999px}
.slider-content ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.slider-content ul li {float:left; width:940px; margin:0; padding:0; position:relative; height:528px}
.slider-blocks {position:relative; padding:152px 0 0 0}
.slider-block {height:199px; display:none}
.slider-block.active {display:block}
.slider-block-title {width:710px; margin:0 0 0 115px; display:table}
.slider-block-title div {display:table-cell; height:199px; text-align:left; vertical-align:middle; text-transform:uppercase; color:#000; font-size:25px; line-height:39px}
.slider-blocks-ctrl {position:relative; width:100%; text-align:center; padding:30px 0 0 0}
.slider-blocks-ctrl img {vertical-align:middle}
.slider-blocks-ctrl a {color:#7d7d7d; text-decoration:none}
.slider-blocks-ctrl a:hover {color:#e17823}
.slider-blocks-ctrl a.active {color:#e17823; font-weight:bold}
.slider-objects {width:100%}
.slider-objects:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.slider-objects-photos {float:left; position:relative; margin:0 0 0 80px; width:479px; height:199px; line-height:0}
.slider-objects-photo {display:none}
.slider-objects-photo.active {display:block}
.slider-objects-photo img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.slider-objects-photos-ctrl {position:absolute; left:0; bottom:21px; width:100%; text-align:center; font-size:0; line-height:0; letter-spacing:-1px}
.slider-objects-photos-ctrl a {display:inline-block; width:8px; height:8px; background:#fff; margin:0 4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; behavior:url(./js/PIE.htc)}
.slider-objects-photos-ctrl a.active {background:#e17722}
.slider-objects-list {float:left; display:table; padding:0 0 0 56px; width:300px}
.slider-objects-list-inner {display:table-cell; vertical-align:middle; height:199px}
.slider-objects-list a {float:left; clear:left; text-decoration:none; color:#000; line-height:18px; padding:9px 26px; margin-bottom:-8px; position:relative; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.slider-objects-list a.active {border:3px solid #f3f8fc; background:#e49842 url(../images/nav.png) repeat-x left bottom; color:#fff; font-weight:bold; padding:6px 23px}
.slider-logos {text-align:center; line-height:199px}
.slider-logos img {vertical-align:middle; margin:0 15px}
.slider-developer {width:100%}
.slider-developer:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.slider-developer-img {float:left; position:relative; margin:0 0 0 80px; width:479px; height:199px; line-height:0}
.slider-developer-img img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.slider-developer-info {float:left; display:table; padding:0 0 0 80px; width:280px}
.slider-developer-info-inner {display:table-cell; vertical-align:middle; height:199px}
.slider-developer-title {font-weight:bold; color:#000; padding:0 0 30px 0}
.slider-developer-link {padding:12px 0 0 0}
.slider-ctrl {position:absolute; left:0; top:56px; width:100%; text-align:center}
.slider-ctrl-text {display:inline-block; vertical-align:middle; font-size:26px; line-height:28px; color:#5a91c8; text-transform:uppercase; text-align:left}
.slider-ctrl-links {display:inline-block; vertical-align:middle}
.slider-ctrl-links a {display:inline-block; vertical-align:middle; width:65px; height:65px; background:url(../images/slider-ctrl.png); margin:0 0 0 31px}
.slider-ctrl-links a.slider-ctrl-1 {background-position:left top}
.slider-ctrl-links a.slider-ctrl-1.active {background-position:left -65px}
.slider-ctrl-links a.slider-ctrl-2 {background-position:-65px top}
.slider-ctrl-links a.slider-ctrl-2.active {background-position:-65px -65px}
.slider-ctrl-links a.slider-ctrl-3 {background-position:-130px top}
.slider-ctrl-links a.slider-ctrl-3.active {background-position:-130px -65px}
.slider-ctrl-links a.slider-ctrl-4 {background-position:-195px top}
.slider-ctrl-links a.slider-ctrl-4.active {background-position:-195px -65px}
.slider-ctrl-links a.slider-ctrl-5 {background-position:-260px top}
.slider-ctrl-links a.slider-ctrl-5.active {background-position:-260px -65px}
.slider-prev,
.slider-next {display:block; position:absolute; top:242px; width:8px; height:22px; background:url(../images/slider-arrows.png)}
.slider-prev {left:0}
.slider-next {right:0; background-position:-8px top}

.main {width:940px; margin:-35px auto 0 auto; padding:0 0 46px 0; position:relative}
.main:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.main-left {float:left; width:240px}
.main-left-title {text-transform:uppercase; font-size:26px; line-height:31px; color:#000; padding:0 0 42px 0}

.main-left-news {padding:0 0 23px 0}
.main-left-news-photo {position:relative; line-height:0}
.main-left-news-photo img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.main-left-news-title {font-weight:bold; padding:18px 0 0 0}
.main-left-news-title a {color:#000; text-decoration:none}
.main-left-news-title a:hover {text-decoration:underline}
.main-left-news-date {color:#5a91c8}

.main-left-banner {line-height:0; margin:22px 0 47px 0}
.main-left-banner img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}

.main-content {float:left; position:relative; width:600px; padding:0 0 0 80px}
.main-list-item {padding:24px 0 21px 0; border-top:1px solid #7e7e7e}
.main-list-item:first-child {padding-top:0; border-top:none}
.main-list-item-photo {position:relative; margin:0 -20px; line-height:0}
.main-list-item-photo img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.main-list-item-title {position:relative; padding:0 0 20px 50px; text-transform:uppercase; font-weight:bold; margin-top:18px}
.main-list-item-date {position:absolute; left:-20px; top:6px; width:54px; font-weight:normal; padding:12px 0 13px 0; line-height:14px; color:#5a91c8; text-align:center; border:1px solid #5a91c8; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.main-list-item-title a {color:#231f20; text-decoration:none}
.main-list-item-title a:hover {text-decoration:underline}

.faq-author {text-transform:uppercase; color:#5a91c8; font-weight:normal}
.faq-item {padding:0 0 44px 0}

.faq-more {font-size:26px; line-height:31px; text-transform:uppercase; padding:18px 0 0 0; text-align:center}
.faq-more a {color:#000; text-decoration:none; background:url(../images/dots-1.png) repeat-x left bottom}
.faq-more a:hover {background:none}

.faq-form {padding:0 0 40px 0}
.faq-form form {margin:0; padding:0}
.faq-form-row {width:100%; padding:0 0 39px 0}
.faq-form-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.faq-form-label {float:left; width:138px; line-height:32px; color:#000}
.faq-form-input {float:left; position:relative}
.faq-form-input input {vertical-align:top; position:relative; border:1px solid #5a91c8; margin:0; padding:5px 10px; outline:none; background:none; width:458px; height:20px; font:14px/20px tahoma, geneva, sans-serif; color:#000; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.faq-form-input textarea {vertical-align:top; position:relative; border:1px solid #5a91c8; margin:0; padding:5px 10px; outline:none; background:none; width:758px; height:66px; font:14px/20px tahoma, geneva, sans-serif; color:#000; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc); overflow:auto; resize:none}
.faq-form-submit {text-align:center; padding:24px 0 0 0}
.faq-form-submit input {vertical-align:top; border:none; background:none; text-transform:uppercase; font:24px/26px tahoma, geneva, sans-serif; color:#000; text-decoration:underline; margin:0; padding:0; overflow:visible; cursor:pointer; outline:none}
.faq-form-submit input:hover {text-decoration:none}

.main-list-all {font-size:26px; line-height:31px; text-transform:uppercase; padding:18px 0 0 0}
.main-list-all a {color:#000; text-decoration:none; background:url(../images/dots-1.png) repeat-x left bottom}
.main-list-all a:hover {background:none}

#place-load {display:none}

.partners {width:940px; margin:0 auto; position:relative; background:url(../images/partners.png); -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.partners-title {color:#fff; font-size:26px; line-height:31px; text-transform:uppercase; text-align:center; padding:13px 0 14px 0}
.partners-prev,
.partners-next {display:block; width:8px; height:22px; position:absolute; top:50%; margin-top:-11px; background:url(../images/partners-arrows.png)}
.partners-prev {left:27px}
.partners-next {right:27px; background-position:-8px top}

.partners-content {position:relative; width:800px; overflow:hidden; margin:0 auto; padding:0 0 19px 0}
.partners-content ul {position:relative; margin:0; padding:0; list-style:none; width:9999px}
.partners-content ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.partners-content ul li {float:left; margin:0; padding:0; width:800px}
.partners-item {float:left; width:160px}
.partners-logo {line-height:0; position:relative; width:140px}
.partners-logo img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.partners-name {width:140px; font-weight:bold; color:#fff; text-align:center; padding:13px 0 0 0}
.partners-name a {color:#fff; text-decoration:none}
.partners-name a:hover {text-decoration:underline}
.partners-ctrl {height:25px; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.partners-ctrl a {display:inline-block; width:8px; height:8px; background:#fff; margin:0 4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; behavior:url(./js/PIE.htc)}
.partners-ctrl a.active {background:#e17722}

.container {background:url(../images/inner.png) no-repeat center top; padding:194px 0 0 0; margin:11px 0 0 0; position:relative}
.content {width:920px; margin:0 auto}
.content h1 {font-size:26px; line-height:31px; margin:0; padding:0 0 35px 0; font-weight:normal; color:#000; text-transform:uppercase}
.content p {margin:0; padding:0 0 20px 0}
.content img {position:relative; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.back-link {text-align:center; text-transform:uppercase; font-size:26px; line-height:31px; padding:20px 0 0 0}
.back-link a {color:#000}

.news-list {}
.news-item {width:100%; padding:0 0 35px 0}
.news-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-news-item-inner {margin-left:280px}
.news-item .main-left-news-photo {float:left}
.news-item .main-list-item-date {top:0}
.main-item-main-content {margin-left:670px}
.main-item-main-content .main-left-news-title {padding:0}
.main-item-main-content .main-left-news-date {padding-bottom:20px}
.news-more {font-size:26px; line-height:31px; text-transform:uppercase; padding:18px 0 0 0; text-align:center}
.news-more a {color:#000; text-decoration:none; background:url(../images/dots-1.png) repeat-x left bottom}
.news-more a:hover {background:none}

#map {width:640px; margin:35px auto 0 auto; position:relative; height:387px; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}

footer {display:block; min-width:1000px; width:100%; overflow:hidden; height:268px; margin-top:-268px; position:relative; background:#ccc}
.footer-inner {width:940px; margin:0 auto}

.footer-top {width:100%; height:123px}
.footer-top:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-logo {float:left; line-height:0; padding:37px 0 0 10px; width:360px}
.footer-address {float:left; color:#000; width:300px; padding:43px 0 0 0}
.footer-contacts {float:right; color:#5081b2; padding:43px 0 0 0}
.footer-contacts a {color:#5081b2; text-decoration:none}
.footer-contacts a:hover {text-decoration:underline}
.footer-phone {font-size:28px; padding:0 0 5px 0}

.footer-menu {position:relative; height:42px; line-height:42px; background:#c3c3c3; white-space:nowrap; -webkit-box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-box-shadow:0 3px 5px rgba(15, 16, 16, .15); box-shadow:0 3px 5px rgba(15, 16, 16, .15); -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; behavior:url(./js/PIE.htc)}
.footer-menu ul {display:table; width:100%; margin:0; padding:0; list-style:none}
.footer-menu ul li {display:table-cell; margin:0; padding:0 20px; text-align:center; height:42px; vertical-align:middle}
.footer-menu ul li a {color:#000; text-decoration:none}
.footer-menu ul li a:hover {text-decoration:underline}

.footer-developer {line-height:0; text-align:center; padding:37px 0 0 0}